.tree, .tree ul, .tree li {
	padding:0;
	margin:0;
	list-style:none;
	font-size: 12px;
}
.tree ul li {
	padding-left: 15px;
}
/* ----- для gridster ---------- */
.panel{
	position:relative;
}
.panel-body {
	position: absolute;
	top: 45px;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 10px;
	overflow: auto;
	padding-right: 200px;
}
/* ----- для gridster ---------- */
.tree {
	padding:5px;
	position:relative;
}

body {
	transition:2s;
}
/*
.left-widget.ng-enter    {
	position:absolute;
	
	left: -400px!important;
	transition: 1.5s;
}
.left-widget.ng-enter-active   {
	left: 0!important;
	transition: 1.5s;
}
.left-widget.ng-leave   {
	position:absolute;
	left:0!important;
	transition: 1.5s;
}
.left-widget.ng-leave-active    {
	left:-400px!important;
	transition: 1.5s;
}

*/


/*----------глобальный класс для ng-repeat и анимации новых элементов --------*/
.listItem.ng-enter {
    opacity: 1;
	transition: all 3s ease;
	background-color:  #52b6ec;
}
.listItem.ng-enter-active {
    background-color: white;
	transition: all 3s ease;
}

/*----------глобальный класс для ng-repeat и анимации новых элементов --------*/

.main-centr.ng-enter-active  {
	top: 50px!important;
	transition: 1.5s;
}
.main-centr.ng-leave  {
	position:absolute;
	top:50px!important;
	transition: 1.5s;
}
.main-centr.ng-leave-active  {
	top: -200px!important;
	transition: 1.5s;
}


.action .caption:hover {
	
	color:blue!important;
transition: all 0.7s;
		
}

.caption {
	cursor: pointer;
}

.toogle {
	visibility:none;
	max-height:0px;
	overflow:hidden;
	transition: all 0.5s;
}
.active {
	max-height:600px!important;
	visibility:visible!important;
	transition: all 1.2s;
}

.toogle-b {
	cursor: pointer;
}

.activet  {
	color: red;
}

/*----стрелочка для разворачивающегося меню*/
.down-b {
	font-size: 10px;
	visibility:hidden;
}
.b-visible {
	visibility: visible;
}
.b-active {
	background-color: #52b6ec;
}

.submenu {
	overflow:hidden;
	
	height:0;
	max-height:50px;
	visibility:none;
	background-color: #52b6ec;;
	transition: all 0.5s;
	position: absolute;
	left:0;
	width:100%;
	z-index:9999999;
}
.submenu .sub-b {
	padding:0;
	margin:0;
	padding-left:5px;
	color: #fff;
	cursor:pointer;
}
.submenu .sub-b:hover {
	color: blue;
}
.sub-active {
	
	height:100px!important;
	visibility:visible!important;
}


.indicat {
	color:grey;
}
.indicat-onn {
	transition:all 0.2s;
	color:green!important;
}
.indicat-off {
	transition:all 0.2s;
	color:red!important;
}

.vidget {
	position:absolute;
	left:0;
	height:0;
	width:100%;
	z-index:9999999;
	transition: all 0.5s;
	visibility:none;
	background-color: #52b6ec;
	max-height:100px;
	overflow:hidden;
}
/*Класс для кнопки удалить виджет */
.panelBdele {
	position:absolute;
	right: 20px;
	color: red;
	/*background-color:red; */
	font-size: 20px;
	text-align:center;
	margin:auto;
	 
	
}
.panelBdele:hover {
	cursor:pointer;
	background-color: #52b6ec;
}

/*------------------------оформление меню для для добавления альбома-------------------------- */

.dash-right-slide{
	border: 0;
}
.dash-right-slide.ng-enter, .dash-right-slide.ng-leave {
    transition: 1.5s;
}


/*------------------------
1. обязательно транзитион на коневой виев
2. дальше оформляем виев как он будет віглядет в результате заполнения шаблона
3. потом добавляем переході для вхождения и исчезновения виева
4. Переході заполняются следующим образом
оформление меню для редактирования-------------------------- */


.slide-menu {
	position: fixed;
	z-index: 200;
	top: 0;
	right: 0;
	width:100%;
	height: 100%;
}

.slide-menu .slide-shaddow {
	background-color: black;
	opacity: 0.2;
	width: 70%;
	height:100%;
	position: absolute;
	top: 0;
	left:0;
}
.slide-menu .slide-item {
	top: 0;
	right: 0;
	position: absolute;
	background-color: #d9edf7;
	min-width:150px;
	width: 30%;
	height:100%;
	padding: 5px 10px;
}

.dash-right-slide.ng-enter  .slide-menu  {
	right: -100%;
	transition: 1.5s;
}

.dash-right-slide.ng-enter-active  .slide-menu  {
	right: 0;
	transition: 1.5s;
}

.dash-right-slide.ng-leave  .slide-menu  {
	right: 0;
	transition: 1.5s;
}

.dash-right-slide.ng-leave-active  .slide-menu  {
	right: -100%;
	transition: 1.5s;
}
