.tree, .tree ul, .tree li {
	padding:0;
	margin:0;
	list-style:none;
}
.tree ul li {
	margin-left: 15px;
}

.menu {
	
}

.toogle {
	display: none;
}

.toogle-b {
	cursor: pointer;
}

.activet  {
	color: red;
}

/*----стрелочка для разворачивающегося меню*/
.down-b {
	font-size: 10px;
}
.b-active {
background-color: #52b6ec;
}
.submenu {
	display:none;
	
	background-color: #52b6ec;
	line-height:0.9;
	
}

.active {
	display: block;
}

.indicat {
	color:grey;
}
.indicat-onn {
	color:green!important;
}
.indicat-off {
	color:red!important;
}