.tree, .tree ul, .tree li {
	padding:0;
	margin:0;
	list-style:none;
	font-size: 12px;
	
}
.tree {
	border: 1px solid blue;
	padding:5px;
	position:relative;
	
}

body {
	transition:2s;
}
.left-widget.ng-enter    {
	position:absolute;
	
	left: -400px!important;
	transition: 1.5s;
}
.left-widget.ng-enter-active   {
	left: 0!important;
	transition: 1.5s;
}
.left-widget.ng-leave   {
	position:absolute;
	left:0!important;
	transition: 1.5s;
}
.left-widget.ng-leave-active    {
	left:-400px!important;
	transition: 1.5s;
}



.main-centr.ng-enter  {
	position:absolute;
	top: -200px!important;
	transition: 1.5s;
}

.main-centr.ng-enter-active  {
	top: 50px!important;
	transition: 1.5s;
}
.main-centr.ng-leave  {
	position:absolute;
	top:50px!important;
	transition: 1.5s;
}
.main-centr.ng-leave-active  {
	top: -200px!important;
	transition: 1.5s;
}



.tree ul li {
	
	padding-left: 15px;
	
}



.action .caption:hover {
	
	color:blue!important;
transition: all 0.7s;
		
}
.caption  {
	
	
}
.caption {
	
		cursor: pointer;
}

.toogle {
	visibility:none;
	max-height:0px;
	overflow:hidden;
	transition: all 0.5s;
}
.active {
	max-height:600px!important;
	visibility:visible!important;
	transition: all 1.2s;
}

.toogle-b {
	cursor: pointer;
}

.activet  {
	color: red;
}

/*----стрелочка для разворачивающегося меню*/
.down-b {
	font-size: 10px;
}
.b-active {
background-color: #52b6ec;
}

.submenu {
	overflow:hidden;
	
	height:0;
	max-height:50px;
	visibility:none;
	background-color: #52b6ec;;
	transition: all 0.5s;
	position: absolute;
	left:0;
	width:100%;
	z-index:9999999;
}
.submenu .sub-b {
	padding:0;
	margin:0;
	padding-left:5px;
	color: #fff;
	cursor:pointer;
}
.submenu .sub-b:hover {
	color: blue;
}
.sub-active {
	
	height:100px!important;
	visibility:visible!important;
}


.indicat {
	color:grey;
}
.indicat-onn {
	transition:all 0.2s;
	color:green!important;
}
.indicat-off {
	transition:all 0.2s;
	color:red!important;
}

.vidget {
	position:absolute;
	left:0;
	height:0;
	width:100%;
	z-index:9999999;
	transition: all 0.5s;
	visibility:none;
	background-color: #52b6ec;
	max-height:100px;
	overflow:hidden;
}
